.my-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.fa-solid, .fa-brands {
    font-size: 5em;
    text-shadow:0px 0px 4px rgba(0, 0, 0, 0.75);
    color: white;
}

p {
    font-size: 1em;
    margin: 0.5em;
    color: white;
    width: auto;
    text-align: center;
    text-shadow: 
    -1px -1px 4px rgba(0, 0, 0, 0.75),
    1px -1px 4px rgba(0, 0, 0, 0.75),
    -1px 1px 4px rgba(0, 0, 0, 0.75),
    1px 1px 4px rgba(0, 0, 0, 0.75);
}

.folder-button {
    cursor: pointer;
    width: 4em;
    height: 4em;
}

.folder-card-background {
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: brightness(50%);
    z-index: 10;
}

.folder-card {
    position: absolute;
    width: auto;
    height: auto;
    border-radius: 20px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.55);
    z-index: 90;
    background: linear-gradient(270deg, #b2dfff, #3da9fc);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@keyframes AnimationName {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}

button {
    border: none;
}

.circle-button {
    border-radius: 100%;
    width: 1em;
    height: 1em;
    transition: all 0.1s ease-in-out;
}
.circle-button:hover {
    background-color: #f14c43;
}

.red {
    background-color: #C7372F;
}

.folder-bar {
    width: 95%;
    display:flex;
    margin-top: 0.4em;
    justify-content: space-between;
}

.folder-text {
    color: rgb(51, 51, 51);
}

a {
    text-decoration: none;
}